doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 #{title}
        form(action="/create" method="POST")
            label(for="name") Name: 
            input(type="text" name="name" required)
            label(for="type") Type: 
            input(type="enum" name="type" required)
            label(for="photo") Photo: 
            input(type="text" name="photo")
            button(type="submit") Add