doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 #{title}
        form.form-wrapper(action="/create" method="POST")
            label(for="name") Name*: 
            input(type="text" name="name" required)
            label(for="Type") Type*:
            select(name="type") 
                option(value="Fire") Fire
                option(value="Water") Water
                option(value="Grass") Grass
                option(value="Electric") Electric
            label(for="photo") Photo url: 
            input(type="text" name="photo") 
            button(type="submit") Add
        a(href="/") Go to the homepage