@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1rem;
}

table {
    display: flex;
    margin: 10px 20px;
}

table th {
    background-color: aquamarine;
    min-width: 150px;
}

table td {
    border-collapse: collapse;
}

.cta {
    background-color: red;
    margin: 10px 20px;
    color: white;
    border-radius: 30px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.card__img {
    max-width: 3rem;
}

.card__name {
    font-weight: 800;
}

.card__type {
    font-size: 1rem;
}

.form-wrapper {
    font-size: 18px;
    max-width: 768px;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

label, input {
    margin-top: 5px;
    display: block;
    font-size: inherit;
}

input[type="text"] {
    padding: .25rem;
}

button[type="submit"] {
    background-color: red;
    margin: 5px 0px;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}